@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Cores e globais do SVAR */
  --wx-background: #ffffff;
  --wx-background-alt: #f8fafc;
  --wx-color-primary: #4f46e5;
  --wx-color-font: #0f172a;
  --wx-color-font-alt: #64748b;
  --wx-border-radius: 12px;
  --wx-radius-major: 16px;
}